@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <label for="lastData">Latest data:</label>
    <textarea id="lastData" readonly>@Model.LastData</textarea>
</div>

<div>
    <label for="topic">Topic:</label>
    <input type="text" id="topic">
    <label for="message">Message:</label>
    <input type="text" id="message">
</div>